services:
  orchestrator:
    build: .
    container_name: esp3_agent_orchestrator
    ports:
      - "33201:33201"
    networks:
      - esp3-network
  n8n-orchestrator:
    image: docker.n8n.io/n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - N8N_HOST=n8n.local
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_SECURE_COOKIE=false
    volumes:
      - ./n8n_data:/home/node/.n8n
    networks:
      - esp3-network
volumes:
  n8n_data:
    driver: local

networks:
  esp3-network:
    external: true